#c {
    border:0px solid red;
    padding-bottom:0px;
     display: flex;
   }
   
#b {
   margin-left:10px;
   margin-right:1304px;
    border: 0px solid red;
   }
#a { 
   margin-right:20px;
   margin-left:800px;
   border: 0px solid red;
 }
#a,#b{
   
     width: 50%;
    
  }
*{
    background-color:rgb(117, 117, 163);
}